<section class="d-flex flex-wrap m-auto justify-content-center">
	@if (cards == null)
	{
		<p class="w-100 text-center"><em>Loading...</em></p>
	}
	else
	{
		@foreach (CardDTO card in cards)
		{
			<Card card="card" OnCardClicked="addCard"></Card>
		}
	}
</section>

@code {
	[Parameter]
	public IEnumerable<CardDTO>? cards { get; set; }
	[Parameter]
	public EventCallback<CardDTO> OnCardClicked { get; set; }

	private async void addCard(CardDTO card)
	{
		await OnCardClicked.InvokeAsync(card);
	}
}