<section class="d-flex flex-wrap m-auto justify-content-center">
	@if (Cards == null)
	{
		<p class="w-100 text-center"><em>Loading...</em></p>
	}
	else
	{
		@foreach (CardDTO card in Cards)
		{
			<Card Data="card" OnCardClicked="AddCard"></Card>
		}
	}
</section>