<section>
	@if (Deck == null || Deck.Count() == 0)
	{
		<p class="w-100 text-center"><em>No cards in deck...</em></p>
	}
	else
	{
		@foreach (MongoCardDTO card in Deck)
		{
			<DeckCard Card="card" OnNameClicked="RemoveCard" OnNumberClicked="AddAnother"></DeckCard>
		}
	}
</section>