<section>
	@if (@deck == null || deck.Count() == 0)
	{
		<p class="w-100 text-center"><em>No cards in deck...</em></p>
	}
	else
	{
		@foreach (MinimalAPI.Models.Card card in deck)
		{
			<DeckCard card="card" OnCardClicked="removeCard"></DeckCard>
		}
	}
</section>

@code {
	[Parameter]
	public IEnumerable<MinimalAPI.Models.Card>? deck { get; set; }
	[Parameter]
	public EventCallback<MinimalAPI.Models.Card> OnCardClicked { get; set; }
	private async void removeCard(MinimalAPI.Models.Card card)
	{
		await OnCardClicked.InvokeAsync(card);
	}
}