<article class="d-flex flex-row justify-content-between align-content-center flex-wrap border border-dark p-1">
	<p style="margin: 0;" @onclick="(() => RemoveCard(Card))">@Card.Name</p>
	<p class="fw-bold" @onclick="(() => AddAnother(Card) )">@Card.Amount</p>
</article>