@page "/deckbuilder"
@using Howest.MagicCards.Web.Data;
@using Microsoft.EntityFrameworkCore;

@inject CardService _cardRepository
@inject IMapper _mapper

<PageTitle>DeckBuilder</PageTitle>

<header>
	<h1>DeckBuilder</h1>
</header>

<main>
	<CardFilter></CardFilter>
	<div class="container">
		<div id="cards">
			<CardList cards="cards"></CardList>
		</div>
		<div id="deck">
			<!-- TODO: figure out strategy of displaying deck -->
		</div>
		<PageFilter></PageFilter>
	</div>
</main>

@code {
	private string title = "DeckBuilder";
	private IEnumerable<CardDTO>? cards = null;

	protected override void OnInitialized()
	{
		cards = _cardRepository.GetCards();
	}

}
