@page "/deckbuilder"

<PageTitle>DeckBuilder</PageTitle>

<header>
	<h1>DeckBuilder</h1>
</header>

<main>
	<form class="filter-form">
		<label for="name">Name</label>
		<input type="text" id="name" name="name" placeholder="Deck name" />
		<label for="text">Text</label>
		<input type="text" id="text" placeholder="Text" />
		<label for="set">Set</label>
		<select id="set">
			<!-- TODO: load options from data -->
		</select>
		<label for="rarity">Rarity</label>
		<select id="rarity">
			<!-- TODO: load options from data -->
		</select>
		<label for="type">Card Type</label>
		<select id="type">
		</select>
		<button id="sortbyname" class="btn-secondary">Name</button>
		<input type="submit" placeholder="Submit" class="btn-primary" />
	</form>
	<div class="container">
		<div id="cards">
			<!-- TODO: figure out strategy of displaying cards -->
		</div>
		<div id="deck">
			<!-- TODO: figure out strategy of displaying deck -->
		</div>
	</div>
</main>

@code {

}
