@page "/deckbuilder"

@inject ICardRepository CardService
@inject IMapper mapper

<PageTitle>DeckBuilder</PageTitle>

<header>
	<h1>DeckBuilder</h1>
</header>

<main>
	<CardFilter></CardFilter>
	<div class="container">
		<div id="cards">
			<CardList cards="cards"></CardList>
		</div>
		<div id="deck">
			<!-- TODO: figure out strategy of displaying deck -->
		</div>
	</div>
</main>

@code {
	private string title="DeckBuilder";
	private IEnumerable<CardDTO>? cards = null;

	protected override void OnInitialized()
	{
		cards = CardService.GetCards()
							.ProjectTo<CardDTO>(mapper.ConfigurationProvider)
							.Take(10)
							.ToList();
	}

}
